<!DOCTYPE html>
<html lang="en">
<head>
    <title>Backend Test</title>
</head>
<body class="container">
    <h1>Star Wars API</h1>
    <ul>
        <li><a href="/character/leia">Character detail by name</a></li>
        <li><a href="/characters/?sort=height">Characters by height, mass, or name</a></li>
        <li><a href="/planetresidents">Which planet does the residents belong to?</a></li>
    </ul>
</body>
</html>